body{
   background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    color: white;
}
header{
    margin: 0 auto;
  padding-top: 15px;
    text-align: center;
    background-color: rgb(80, 77, 77);
    top:50px;
    
}
header p{
    font-size: 30px;
    font-weight: bold;
    
}
header a{
    text-decoration: none;
    color: white;
}
li {
    
padding: 16px;
   text-decoration: none;
   display: inline-block;
   
}



ul{
    display: block;
    text-align: center;
 width: 100%;
  padding: 0;
  margin:auto;
}
@media(min-width: 1250px){
    .homeGrid{
        display: grid;
        
         gap: 25px;
         grid-template-columns: repeat(auto-fit,(240px, 1fr));         
         grid-template-rows: auto;
         font-size: 25px;
         margin-top: 25px;
       
 
    }
.familyGrid{
    text-align: center;
}

.profileGrid{
    grid-row: 2;
    grid-column: 1;
    
}

.textGrid{
    grid-row: 2;
   
    grid-column: 2;
    grid-column: span 3;
}
.rotcGrid{
    grid-row: 3;
    grid-column: 1;
    
}
.fratGrid{
    grid-row: 3;
    grid-column: 2;
}
.fratGrid img{
    height: 300px;
    width:auto;
}
.paintballGrid{
    grid-row: 3;
    grid-column: 3;
}
.paintballGrid img{
    height: 300px;
    width:auto;
}
}



.gridFix{
    margin: 0 auto;
    text-align: center;
   
}



@media(min-width: 1150px){
    .websitePhotos{
        display: grid;
        margin: 0 auto;
         gap: 25px;
         grid-template-columns: repeat(3, auto);
         grid-template-rows: auto;
         font-size: 25px;
         grid-auto-flow: dense;
         margin-top: 25px;
    }
}

.websitePhotos a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    
}
.websitePhotos img{
    width: 400px;
    height: 300px;
}

